.img{
    width: 25vw;
}

.profile_img{
    width: 4vw;
}

.parentDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    border-bottom: 1px solid rgb(94, 93, 93)
}

.profileDiv{
    display: flex;
    align-items: center;
   gap: 2vw;
   color: rgb(89, 88, 88);
   position: relative;
}