.parentDiv{
    position: relative;
    padding: 0 4vw;
    padding-top: 10vh;
    text-align: left;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.CourseList{
    font-size: 2w;
    font-weight: 600;
    color: rgb(62, 62, 62);
}

.p{
    color: rgb(116, 115, 115);
}

.p :first-child{
    color: rgb(0, 68, 255);
    cursor: pointer;
}

.CardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin-top: 10vh;   
    padding: 0 2vw; 
}

.cross{
    cursor: pointer;
}

.crossContainer{
display: inline-flex;
align-items: center;
gap: 1vw;
padding: 1.3vh 1.5vw;
border: 1px solid rgb(179, 179, 179);
margin: 6vh 0;
color: rgb(103, 103, 103);
}